<section class="contacts__section">
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <h2 class="contacts__institution">Cafe</h2>
        <p class="contacts__city">Chicago</p>
        <address class="contacts__address">
          <a href="" class="contacts__link"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="schedule__list">
          <li class="schedule__item">
            <p class="schedule__days">Monday - Friday</p>
            <p class="schedule__time">06:00 am - 10:00 pm</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__days">Saturday - Sunday</p>
            <p class="schedule__time">08:00 am - 4:00 pm</p>
          </li>
        </ul>

        <div>
          <a href="tel:+610383766284 " class="telephone-link"
            >+61(0) 383 766 284
          </a>

          <a href="mailto:noreply@envato.com" class="email-link"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__institution">Foodtruck</h3>
        <p class="contacts__city">Los Angeles</p>
        <address class="contacts__address">
          <a href="" class="contacts__link"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="schedule__list">
          <li class="schedule__item">
            <p class="schedule__days">Monday - Friday</p>
            <p class="schedule__time">06:00 am - 10:00 pm</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__days">Saturday - Sunday</p>
            <p class="schedule__time">08:00 am - 4:00 pm</p>
          </li>
        </ul>

        <div>
          <a href="tel:+610383766284 " class="telephone-link"
            >+61(0) 383 766 284
          </a>

          <a href="mailto:noreply@envato.com" class="email-link"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__institution">Cafe</h3>
        <p class="contacts__city">New York</p>
        <address class="contacts__address">
          <a href="" class="contacts__link"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <ul class="schedule__list">
          <li class="schedule__item">
            <p class="schedule__days">Monday - Friday</p>
            <p class="schedule__time">06:00 am - 10:00 pm</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__days">Saturday - Sunday</p>
            <p class="schedule__time">08:00 am - 4:00 pm</p>
          </li>
        </ul>

        <div>
          <a href="tel:+610383766284 " class="telephone-link"
            >+61(0) 383 766 284
          </a>

          <a href="mailto:noreply@envato.com" class="email-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="btn__list">
      <li class="btn__item">
        <button
          type="button"
          class="btn-bg read-more-btn contacts-btn"
          data-modal-how-its-made-open
        >
          <span>Our Locations</span>
          <svg aria-label="arrow" class="read-more-btn__icon">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn-transparent contacts-btn franchise-btn"
          data-modal-how-its-made-open
        >
          <span>Franchise</span>
          <svg aria-label="arrow" class="read-more-btn__icon">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
