<footer class="footer">
  <div class="footer-upper">
    <div class="container footer__container">
      <p class="footer__title">
        <spam class="footer__title--first">Homemade ice cream made</spam
        ><spam class="footer__title--second">with passion</spam>
      </p>

      <div class="footer__contacts">
        <ul class="networks__list">
          <li class="networks__item">
            <a class="networks__link">
              <svg class="networks__icon github">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="networks__item">
            <a class="networks__link">
              <svg class="networks__icon telegram">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="networks__item">
            <a class="networks__link">
              <svg class="networks__icon facebook">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="tel">
          Feel free to contact
          <a href="tel:+610383766284 " class="tel__number"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <p>&#169; 2022 - IceCream</p>
    <p>All Rights Reserved</p>
  </div>
</footer>
