<div class="backdrop is-hidden" data-modal-how-its-made>
  <div class="modal how-its-made__modal">
    <button
      type="button"
      class="how-its-made__close-btn"
      data-modal-how-its-made-close
    >
      <svg
        width="16"
        height="16"
        class="how-its-made__icon"
        aria-label="close button"
      >
        <use href="./images/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
    <h1 class="how-its-made__title">How it's made</h1>

    <video
      width="640"
      height="360"
      controls
      src="./video/how-icecream-is-made.mp4"
      type="video/mp4"
      controls
      poster="./images/how-its-made-modal/poster.jpg"
      class="how-its-made__video"
    ></video>
    <p class="how-its-made__text">
      If you're anything like us, hearing "let’s go get some ice cream" probably
      makes you weak in the knees (and strong in the waistline). Grab a napkin
      and get ready to catch your jaw as it drops – it's time to unveil how ice
      cream is made!
    </p>
  </div>
</div>
