<section id="how-its-made" class="section how-its-made__section">
  <div class="container">
    <p class="section-subtitle how-its-made__subtitle">Tradition and love</p>
    <h2 class="section-title how-its-made__title">How it's made</h2>
    <div class="how-its-made__info-box">
      <div class="how-its-made__img-box">
        <picture>
          <source
            srcset="
              ./images/how-its-made/how-its-made-desktop.png    1x,
              ./images/how-its-made/how-its-made-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/how-its-made/how-its-made-tab.png    1x,
              ./images/how-its-made/how-its-made-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/how-its-made/how-its-made-mob.png    1x,
              ./images/how-its-made/how-its-made-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="how-its-made__img"
            src="./images/how-its-made/how-its-made-mob.png"
            alt="ice-cream plate"
          />
        </picture>
      </div>
      <div class="how-its-made__list-container">
        <ul class="how-its-made__list">
          <li class="how-its-made__item">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </li>
          <li class="how-its-made__item">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </li>
          <li class="how-its-made__item">
            This is enough to choose ice cream and coffee for any mood!
          </li>
        </ul>
        <button type="button" class="btn-bg read-more-btn how-its-made-btn">
          <span>Read more</span>
          <svg aria-label="arrow" class="read-more-btn__icon">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon-wrap">
          <svg aria-label="cow" class="advantages__icon">
            <use href="./images/icons.svg#cow"></use>
          </svg>
        </div>
        <p class="advantages__amount">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__icon-wrap">
          <svg aria-label="weight" class="advantages__icon">
            <use href="./images/icons.svg#weight"></use>
          </svg>
        </div>
        <p class="advantages__amount">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__icon-wrap">
          <svg aria-label="ice-cream" class="advantages__icon">
            <use href="./images/icons.svg#ice-cream"></use>
          </svg>
        </div>
        <p class="advantages__amount">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
