<div class="backdrop is-hidden" data-modal="our-location">
  <div class="modal our-location__modal">
    <button
      type="button"
      class="our-location__close-btn"
      data-modal-close="our-location"
    >
      <svg width="16" height="16" aria-label="close button">
        <use href="./images/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
    <h1 class="our-location__title">Our Locations</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13248.342281178686!2d-118.40813878569746!3d33.887449971508566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s1003%20Manhattan%20Ave%2C%20Manhattan%20Beach%2C%20CA%2090263%2C%20USA!5e0!3m2!1suk!2sua!4v1773651476516!5m2!1suk!2sua"
      class="our-location__map"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <a
      href="https://maps.app.goo.gl/xChU9p34fx7b1hTr9"
      class="btn-bg our-location-btn"
      target="_blank"
      >Open map</a
    >
  </div>
</div>
