<section id="products" class="section products">
  <div class="container products__container">
    <p class="section-subtitle">100% natural</p>
    <h2 class="section-title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer"
        </p>
        <button type="button" class="arrow-button" data-modal-icecream-open>
          <svg
            class="arrow-icon products__arrow-icon"
            tabindex="0"
            aria-label="arrow"
          >
            <use href="./images/icons.svg#icon-read-more-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="arrow-button" data-modal-ice-coffee-open>
          <svg
            class="arrow-icon products__arrow-icon"
            tabindex="0"
            aria-label="arrow"
          >
            <use href="./images/icons.svg#icon-read-more-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">Milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="arrow-button" data-modal-milkshake-open>
          <svg
            class="arrow-icon products__arrow-icon"
            tabindex="0"
            aria-label="arrow"
          >
            <use href="./images/icons.svg#icon-read-more-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
