.our-location__title {
  margin-bottom: 20px;

  text-align: center;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-font);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.our-location__map {
  margin-bottom: 24px;
  width: 224;
  height: 199;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}
